<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button name="md-arrow-back" routerLink="/rutinas">Regresar</ion-button>
        </ion-buttons>


      <ion-title>
      Rutinas Modal
      </ion-title>
    </ion-toolbar>
  
</ion-header>

<!-- <ion-content padding>
    <form>
    <ion-card>
      
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur!
        <ion-button class="top-20" fill="solid" (click)="whatch('i1DiaXP9nCk&t=167s')">Pierna</ion-button>
      </ion-card-content>

    </ion-card>

    <ion-card>
      
        <ion-img src="/assets/shapes.svg"></ion-img>
  
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur!
          <ion-button class="top-20" fill="solid" (click)="whatch('i1DiaXP9nCk&t=167s')">Pierna</ion-button>
        </ion-card-content>
  
      </ion-card>

      <ion-card>
      
          <ion-img src="/assets/shapes.svg"></ion-img>
    
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur!
            <ion-button class="top-20" fill="solid" (click)="whatch('i1DiaXP9nCk&t=167s')">Pierna</ion-button>
          </ion-card-content>
    
        </ion-card>

        <ion-card>
      
            <ion-img src="/assets/shapes.svg"></ion-img>
      
            <ion-card-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur!
              <ion-button class="top-20" fill="solid" (click)="whatch('i1DiaXP9nCk&t=167s')">Pierna</ion-button>
            </ion-card-content>
      
          </ion-card>

        
          <ion-card>
      
              <ion-img src="/assets/escaladora.jfif"></ion-img>
        
              <ion-card-content>
                  - Las escaladoras mejoran el rendimiento cardiovascular. ... <br>
                  - Escalar mejora el rendimiento muscular.... <br>
                  - Tonifica los glúteos. ...
                <ion-button class="top-20" fill="solid" (click)="whatch('i1DiaXP9nCk&t=167s')">Escaladora</ion-button>
              </ion-card-content>
        
            </ion-card>
  </form>

</ion-content> -->
