<ion-header no-border>
  <ion-toolbar>
    <ion-title>
    Rutinas
    </ion-title>
  </ion-toolbar>

<!-- <ion-searchbar animated
              (ionInput)="buscar($event)">
  </ion-searchbar> -->


</ion-header>

<!-- <ion-content padding>
    <form>
    <ion-card>
      
      <ion-img src="/assets/pierna.jfif"></ion-img>

      <ion-card-content>
          - Ayuda a perder peso....<br>
          - Ayuda a fortalecer los lumbares....<br>
          - Nos permite mejorar en otros deportes....<br>
        <ion-button class="top-20" fill="solid" (click)="whatch('https://www.youtube.com/watch?v=Q3hW6KKyi9s')">Pierna</ion-button>
      ->
      </ion-card-content>

    </ion-card>

    <ion-card>
      
        <ion-img src="/assets/brazo.jfif"></ion-img>
  
        <ion-card-content>
            - Resistencia....<br>
            - Pérdida de grasa....<br>
            - Equipo....<br>
            - Estiliza tu figura....<br>
            - Trabajas todos los músculos....<br>
          <ion-button class="top-20" fill="solid" (click)="whatch('https://www.youtube.com/watch?v=8JcEiHJYhqE')">Brazo</ion-button>

        </ion-card-content>
  
      </ion-card>

      <ion-card>
      
          <ion-img src="/assets/espalda.jfif"></ion-img>
    
          <ion-card-content>
              - Mejora la fuerza y la masa muscular del cuerpo completo....<br>
              - Mejora la flexibilidad....<br>
              - Mejora condiciones como el balance y el equilibrio, a través de los distintos ejercicios que se integran en un plan de entrenamiento.<br>
            <ion-button class="top-20" fill="solid" (click)="whatch('https://www.youtube.com/watch?v=x09bohlned0')">Espalda</ion-button>
          
          </ion-card-content>
    
        </ion-card>

        <ion-card>
      
            <ion-img src="/assets/abdomen.jfif"></ion-img>
      
            <ion-card-content>
                - Quemas calorías porque es una rutina de alta intensidad.<br>
                - Mejoras la movilidad, porque implicas un número grande de músculos en cada ejercicio.<br>
                - Tonificas sin aumentar la masa.<br>
                - Favoreces la coordinación.<br>
              <ion-button class="top-20" fill="solid" (click)="whatch('https://www.youtube.com/watch?v=Zt8lFYngERg')">Abdomen</ion-button>
            
            </ion-card-content>
      
          </ion-card>

        
          <ion-card>
      
              <ion-img src="/assets/escaladora.jfif"></ion-img>
        
              <ion-card-content>
                  - Las escaladoras mejoran el rendimiento cardiovascular. ... <br>
                  - Escalar mejora el rendimiento muscular.... <br>
                  - Tonifica los glúteos. ...
                <ion-button class="top-20" fill="solid" (click)="whatch('https://www.youtube.com/watch?v=HPSEzaHKlKI&t=99s')">Escaladora</ion-button>
              
                
              </ion-card-content>
        
            </ion-card>
  </form>

</ion-content> -->




<!--  <ion-content padding>

  <ion-item button routerLink="/rutinas-modal" *ngFor="let item of lista">
  {{item}}
  </ion-item> 

</ion-content> -->
